[Unit]
Description=My artificial assistant
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /home/zipfriis/Documents/code/javis/main.py

[Install]
WantedBy=multi-user.target
